<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:fragment="head">
        <title>JsonMack</title>
        <link rel="stylesheet" href="/static/css/header.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body th:fragment="body">
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
            <a class="navbar-brand">JsonMack</a>
        </nav>
    </body>
</html>
