html {

}

body {
    font-family: "Roboto Mono", serif;
    min-height: 100%;
}

header {
    min-height: 40px;
    max-height: 40px;
    height: 40px;
}

#sidebar {
    min-height: 1000px;
    max-width: 96px;
}

#sidebar a {
    max-height: 48px;
}

footer {
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}

footer h3 {
    text-align: center;
    margin-bottom: 0;
}

.background-black-light {
    background-color: #363333;
    color: #363333;
}

.background-black-dark {
    background-color: #272121;
    color: #272121;
}

.background-orange {
    background-color: #e16428;
    color: #e16428;
}

.background-white-light {
    background-color: #f6e9e9;
    color: #f6e9e9;
}

@media (max-width: 768px) {
    #sidebar {
        max-width: 100%;
    }
}

@font-face {
    font-family: 'Roboto Mono', monospace;
}


