<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:include="fragments/head :: head">
        <title>JsonMack</title>
    </head>

    <body class="bg-black text-soft">
        <div th:include="fragments/header :: header"></div>

        <main class="flex-lg-fill">
            <section id="projects">
                <div class="container-lg text-light">
                    <h3 class="p-3 text-center">Projects</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="https://marketplace.visualstudio.com/items?itemName=jsonmack-nscc.git-reference-to-txt" target="_blank">
                                <div class="card mb-3 bg-dark bg-gradient shadow-lg">
                                    <div class="row g-0">
                                        <div class="col-md-4 card-img">
                                            <img src="img/vscode.png" alt="The VSCode marketplace link.">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h4 class="card-title">VSCode Extension for PROG1000</h4>
                                                <p class="card-text">Created in TypeScript, this application creates a TXT
                                                    file using the Git reference as the name and content of the file.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-6">
                            <a href="https://github.com/nscc-itprogramming-unity/starter" target="_blank">
                                <div class="card mb-4 bg-dark bg-gradient shadow-lg">
                                    <div class="row g-0">
                                        <div class="col-md-4 card-img">
                                            <img src="img/unity.png" alt="The Unity project that is on github.">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h4 class="card-title">Unity Project</h4>
                                                <p class="card-text"> A Unity Project that was worked on with a group of friends. You're a student and
                                                    you need to stay motivated while you're constantly being hit by new assignments.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-6">
                            <a href="https://veldadefense.com" target="_blank">
                                <div class="card mb-4 bg-dark bg-gradient shadow-lg">
                                    <div class="row g-0">
                                        <div class="col-md-4 card-img">
                                            <img src="img/veldadefense.png" alt="A logo for a game I created.">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h4 class="card-title">Android Game</h4>
                                                <p class="card-text">An online multiplayer tower defense game developed using primarily Java. This
                                                    game features a highscores, in-game advertisements, a payment gateway, and a few
                                                    other features.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-6">
                            <a href="https://github.com/jsonmack/website" target="_blank">
                                <div class="card mb-4 bg-dark bg-gradient shadow-lg">
                                    <div class="row g-0">
                                        <div class="col-md-4 card-img">
                                            <img src="img/html.png" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h4 class="card-title">Personal Website</h4>
                                                <p class="card-text">The webservice is built in Java, using Spring Boot. The front end is entirely
                                                    HTML, CSS, and utilizes the Bootstrap 5 framework.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <hr class="mt-4 mb-4"/>
                </div>
            </section>

            <section id="skills">
                <div class="container-lg">
                    <h3 class="p-3 text-center">Skills</h3>
                    <div class="row">
                        <div class="col-6">
                            <div class="progress mb-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
                                     role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 90%">Java</div>
                            </div>

                            <div class="progress mb-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                                     role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 80%">Git</div>
                            </div>

                            <div class="progress mb-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
                                     role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 75%">Linux</div>
                            </div>

                            <div class="progress mb-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                                     role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 60%">Python</div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="progress mb-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
                                     role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 55%">Coffee</div>
                            </div>

                            <div class="progress mb-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                                     role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 50%">SQL</div>
                            </div>

                            <div class="progress mb-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
                                     role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 45%">HTML/CSS</div>
                            </div>

                            <div class="progress mb-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                                     role="progressbar" aria-valuenow="35" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 20%">PHP/Laravel</div>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-4 mb-4"/>
                </div>
            </section>

            <section id="education">
                <div class="container-lg">
                    <h3 class="p-3 text-center">Education</h3>
                    <div class="row">
                        <div class="col-6">
                            <h5>IT Programming - NSCC Institute of Technology</h5>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <h5>September 2020-Present</h5>
                        </div>
                    </div>
                    <ul class="row mt-1">
                        <li class="col-12">On course to graduate with honours.</li>
                    </ul>
                    <hr class="mt-3 mb-5"/>
                </div>
            </section>

            <section id="volunteer">
                <div class="container-lg">
                    <h3 class="p-3 text-center">Volunteer Work</h3>
                    <div class="row">
                        <div class="col-6">
                            <h5>NSCC IT Job Fair - Technology Team</h5>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <h5>October 2020-Present</h5>
                        </div>
                    </div>
                    <ul class="row mt-1">
                        <li class="col-12">Investigated and proposed novel solutions for an online job fair platform to replace the existing in-person model.</li>
                        <li class="col-12">Researched the existing software stack and provided documentation to improve onboarding.</li>
                        <li class="col-12">Implemented solutions using PHP and Laravel to improve job fair website.</li>
                    </ul>
                </div>
            </section>
        </main>
        <div th:include="fragments/footer :: footer"></div>
    </body>
</html>
